{% extends 'blog/base.html' %}

{% block content %}
	{% for post in posts %}
	<div class="card post">
        <h5 class="card-header">Blog Posts</h5>
          <img class="card-img-top" src="" alt="">

            <div class="card-body ">
      	<div class="date">
				<p>published: {{ post.published_date }}</p>
			</div>
    	<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
		<p>{{ post.text|linebreaksbr }}</p>
             </div>
        </div>
	{% endfor %}
{% endblock %}


	<!--{% for post in posts %}-->
	<!--	<div class="post">-->
	<!--		<div class="date">-->
	<!--			<p>published: {{ post.published_date }}</p>-->
	<!--		</div>-->
	<!--			<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>-->
	<!--			<p>{{ post.text|linebreaksbr }}</p>-->
	<!--	</div>-->
	<!--{% endfor %}-->